body{
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300 !important;
}

h5, h1, h2, h3, h4{
    font-weight: 300 !important;
    letter-spacing: .2rem;
}

.title{
    letter-spacing: .2rem;
}

.active{
    font-weight: bold;
}

.bg-img{
}

.bg-nav{
    background: #666a6da1;
    backdrop-filter: blur(10px);
}

.form-control{
    border-radius: 0px;
}

.btn{
    border-radius: 0px;
}

.vertical-text {
    writing-mode: vertical-lr;
    text-orientation: sideways;
    /* transform: translateY(-50%); */
    top: 40%;
    /* padding: 2.5rem 0.5rem 2.5rem 0.5rem; */
    font-size: calc(.75em + 0.5vw);

}